
.worm-fisrt, .worm-second, .worm-three {
    width: 100%;
    height: 180px;
    position: relative;
}

.worm-fisrt h2, .worm-three h2 {
    width: 100%;
    position: absolute;
    z-index: 99;
    top:50%;
    left:64%;
    transform:translate(-50%, -50%);
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.04em;
}

.worm-second h2 {
    width: 100%;
    position: absolute;
    z-index: 99;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: -0.04em;
}

.worm-second svg {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 465px) {
    .worm-fisrt, .worm-second, .worm-three {
        height: 80px;
    }

    .worm-fisrt svg, .worm-second svg, .worm-three svg {
        height: 80px;
    }

    .worm-fisrt svg {
        left: -116%;
        position: absolute;
    }

    .worm-second svg {
        left: -205%;
    }

    .worm-three svg {
        left: -116%;
        position: absolute;
    }

    .worm-fisrt h2, .worm-three h2, .worm-second h2 {
        font-size: 14px;
        line-height: 18px;
    }        
}