.tickets {
    margin-top: 100px;
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 100px;
    }
    &__left {
        flex: 0 0 700px;
    }
    &__title {
        font-size: 64px;
        color: $black;
    }
    &__text {
        font-size: 24px;
        color: $black;
        line-height: 40px;

        display: block;
        margin-top: 40px;
    }
    &__button-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-top: 40px;
    }
    &__button {}
    &__or {
        color: $black;
        font-size: 36px;
        font-weight: bold;
    }
    &__icon {
        transform: translateY(35px);
        transition: .3s;

        &:hover {
            @media (hover: hover) {
                transform: translateY(35px) rotate(-7deg);
            }
        }
    }
    &__right {}
    &__ticket {
        transform: translate(0, 0);
        transition: .3s;
        &:not(.tickets__ticket_first) {
            margin-top: -100px;
        }

        &:hover {
            @media (hover: hover) {
                transform: translate(-20px, -30px) rotate(-4deg);
            }
        }
    }
}

@media screen and (max-width: $tablet) {
    .tickets {
        margin-top: 40px;
		&__container {
            gap: 40px;
        }
		&__left {
            flex: 0 0 450px;
        }
		&__title {
            font-size: 40px;
        }
		&__text {
            font-size: 18px;
            line-height: 22px;
        }
		&__button-wrapper {}
		&__button {
            font-size: 26px;
        }
		&__or {
            font-size: 18px;
        }
		&__icon {}
		&__right {}
		&__ticket {
            width: 100%;
            &:not(.tickets__ticket_first) {
                margin-top: -10vw;
            }
            
			&_first {}
		}
    }
}

@media screen and (max-width: $mobile) {
    .tickets {
        margin-top: 40px;
		&__container {
            flex-direction: column-reverse;
        }
		&__left {
            flex: 1 1 auto;
        }
		&__title {
            font-size: 24px;
            text-align: center;
        }
		&__text {
            text-align: center;

            margin-top: 10px;
        }
		&__button-wrapper {
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;
        }
		&__button {
            font-size: 22px;

            flex: 0 0 100%;
            padding: 20px;
        }
		&__or {}
		&__icon {
            width: 20px;
            height: 20px;
            transform: translate(7px, 7px);
        }
		&__right {
            padding: 0 30px;
        }
		&__ticket {
			&_first {}
		}
    }
}