.science__section {
    padding: 200px 0px;
}

.science {
    background-color: $black;
    position: relative;
}

.science-yellow {
    position: absolute;
    top: -10%;
    left: -9%;
}

.science-blue {
    position: absolute;
    top: 0;
    right: -11%;
}

.science-red {
    position: absolute;
    bottom: 0;
    right: -14%;
}

.science__section h2, .science__section p {
    text-align: center;
}

.science__title {
    font-size: 64px;
    padding-bottom: 40px;
}

.science__text {
    font-weight: 700;
    font-size: 36px;
}

@media screen and (max-width: $mobile) {
    .science-yellow svg {
        transform: rotate(-30.6deg);
        width: 360px;
        height: 100%;
    }

    .science-yellow {
        top: -45%;
        left: -72%;
    }

    .science-blue svg {
        transform: rotate(29deg);
        width: 360px;
        height: 100%;
    }

    .science-blue {
        top: -26%;
        right: -65%;
    }

    .science-red svg{
        width: 620px;
        height: 100%;
    }

    .science-red {
        position: absolute;
        bottom: -16%;
        right: -53%;
    }

    .science__title {
        font-size: 32px;
        line-height: 40px;
    }

    .science__section {
        padding: 70px 0;
        z-index: 9;
        position: relative;
    }

    .science__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 125%;
    }
}