<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Index</title>
        <meta name="theme-color" content="#fff">
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.2.4/swiper-bundle.css">
        <link rel="stylesheet" href="styles/main.css">
    </head>
    <body>
        @@include("../blocks/modules/header/header.html")

        <main>
            @@include("../blocks/modules/stories/stories.html")
            @@include("../blocks/modules/wow/wow.html")
            @@include("../blocks/modules/lines/lines.html")
            @@include("../blocks/modules/programs/programs.html")
            @@include("../blocks/modules/promo/promo.html")
            @@include("../blocks/modules/tabs/tabs.html")
            @@include("../blocks/modules/birthday/birthday.html")
            @@include("../blocks/modules/tickets/tickets.html")
            @@include("../blocks/modules/combo/combo.html")
            @@include("../blocks/modules/science/science.html")
            @@include("../blocks/modules/video-reviews/video-reviews.html")
            @@include("../blocks/modules/schedule/schedule.html")
            @@include("../blocks/modules/excursion/excursion.html")
            @@include("../blocks/modules/reviews/reviews.html")
            @@include("../blocks/modules/partition/partition.html")
            @@include("../blocks/modules/feedback/feedback.html")
            @@include("../blocks/modules/contacts/contacts.html")
        </main>
    
        @@include("../blocks/modules/footer/footer.html")
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.2.4/swiper-bundle.min.js"></script>
        <script src="js/vendor.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>