.reviews {
    position: relative;
    margin-top: 100px;
    padding-bottom: 450px;
    &__container {
        position: relative;
    }
    &__info {
        max-width: 600px;
    }
    &__worm {
        position: absolute;
        top: -200px;
        left: -400px;
        z-index: -1;
    }
    &__title {
        font-size: 64px;
        color: $black;
    }
    &__text {
        display: block;
        margin-top: 35px;
        font-size: 24px;
        color: $black;
    }
    &__right {
        position: absolute;
        top: 0;
        right: 0;

        width: 50%;

        & .swiper-slide {
            width: 400px;
        }

    }
    &__card {
        
    }
}
.reviews-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    min-height: 600px;
    padding: 50px;

    border-radius: 40px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;

    box-shadow: inset -1000px -1000px rgba(0, 0, 0, 0.4);
    &__title {
        font-size: 30px;
    }
    &__text {
        display: block;
        margin-top: 5px;

        font-size: 22px;
    }
    &__button {
        background-color: transparent;
        border: 5px solid $white;

        font-size: 30px;
        color: $white;

        width: 100%;
        margin-top: 25px;

    }
}
.button {
}
