.promo {
    background: url(../img/background_pr.png) no-repeat 50% 50%;
    background-size: cover;

    margin-top: 100px;
}

.promo-section {
    padding-top: 100px;
    padding-bottom: 120px;
}

.promo-title {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
}

.promo-cards_column {
    height: auto;
    border-radius: 40px;
    background: url(../img/promo1.jpg) no-repeat 50% 50%;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.promo-card_first, .promo-card_second, .promo-card_third, .promo-card_fourth {
    height: 370px;
    width: 50%;
}

.promo-card_content {
    padding: 80px;
        
}

.promo-card_content h3 {
     padding-bottom: 20px;
}

.fisrtline-cards, .secondline-cards {
    display: flex;
    gap: 20px;
}

.promo-card_first {
    background: url(../img/promo2.jpg) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 40px;
    background-position-x: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card_second {
    background: url(../img/promo3.png) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 40px;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card_third {
    background: url(../img/promo4.png) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 40px;
    background-position-x: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card_fourth {
    background: url(../img/promo5.jpg) no-repeat 50% 50%;
    background-size: cover;
    border-radius: 40px;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card {
    box-shadow: inset -1000px -1000px rgba(0, 0, 0, 0.3);
}

.promo-card_cont{
    padding: 40px;
}

.secondline-cards {
    padding-top: 20px;
}

.container {

}

.promo-section {

}

.promo-cards {
    padding-top: 40px;
    display: flex;
    gap: 20px;
		&_column {
            width: 50%;
        }

		&_column-sec {
            width: 50%;  
        }
}

.promo-card_title {
    font-size: 36px;
    font-weight: bold;
}

.promo-card_text {
    display: block;
    margin-top: 15px;

    font-size: 24px;
}

@media screen and (max-width: $tablet) {
    .promo {
    }
    .promo-title {
        font-size: 48px;
    }
    .container {
    }
    .promo-section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
    .promo-cards {
        flex-direction: column;
        &_column {
            width: 100%;
            height: 500px;
        }
        &_column-sec {
            width: 100%;
        }
    }
    .promo-card {
        &_content {
            padding: 40px;
        }
        &_title {}
        &_text {}
        &_first {}
        &_cont {}
        &_second {}
        &_third {}
        &_fourth {}
    }
    .fisrtline-cards {
    }
    .secondline-cards {
    }    
}

@media screen and (max-width: $mobile) {
    .promo {
    }
    .container {
    }
    .promo-section {
    }
    .promo-title {
        
    }
    .promo-cards {
        &_column {
            height: 300px;
        }
        &_column-sec {}
    }
    .promo-card {
        height: 300px;
        &_content {}
        &_title {
            font-size: 24px;
        }
        &_text {
            font-size: 18px;
        }
        &_first {}
        &_cont {}
        &_second {}
        &_third {}
        &_fourth {}
    }
    .fisrtline-cards {
    }
    .secondline-cards {
    }
    
}