.promo {
    background-image: url(../img/background_pr.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.container.promo-section {
    padding-top: 100px;
    padding-bottom: 120px;
}

.container.promo-section h2 {
    text-align: center;
    font-weight: 400;
    font-size: 64px;
    line-height: 80px;
}

.promo-cards_column {
    height: auto;
    border-radius: 40px;
    background-image: url(../img/promo1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.promo-card_first, .promo-card_second, .promo-card_third, .promo-card_fourth {
    height: 370px;
    width: 50%;
}

.promo-card_content {
    padding: 80px;
        
}

.promo-card_content h3 {
     padding-bottom: 20px;
}

.fisrtline-cards, .secondline-cards {
    display: flex;
    gap: 20px;
}

.promo-card_first {
    background-image: url(../img/promo2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-position-x: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card_second {
    background-image: url(../img/promo3.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card_third {
    background-image: url(../img/promo4.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-position-x: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card_fourth {
    background-image: url(../img/promo5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 40px;
    background-position-x: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.promo-card_cont{
    padding: 40px;
}

.secondline-cards {
    padding-top: 20px;
}

.container {

}

.promo-section {

}

.promo-cards {
    padding-top: 40px;
    display: flex;
    gap: 20px;
		&_column {
            width: 50%;
        }

		&_column-sec {
            width: 50%;  
        }
}

.promo-card {

		&_first {

        }

		&_second {

        }

		&_third {

        }

		&_fourth {

        }
}
