.schedule {
    background-color: $black;
    padding-bottom: 78px;
}

.schedule__button {
    background-color: $orange;
    color: $white;
    width: auto;
}

.schedule__btn {
    width: auto;
}

.schedule__column-second {
    gap: 20px;
    display: flex;
    flex-direction: column;
}

.container.schedule__section {
    background-color: $yellow;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 60px 140px;
    position: relative;
}

.red-schedule {
    position: absolute;
    top: 12%;
    left: 0;
}

.blue-schedule {
    position: absolute;
    top: 7%;
    right: 0;
}

.schedule__column-first h2 {
    color: $black;
    font-weight: 400;
    font-size: 50px;
    line-height: 60px;
}

.schedule__column-first {
    text-align: end;
}

@media screen and (max-width: $mobile) {
    .schedule {
        padding: 40px 40px 45px 40px;
    }

    .container.schedule__section {
        flex-direction: column;
        padding: 55px 30px 85px 30px;
    }

    .schedule__column-first h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 30px;
        text-align: right;
    }

    .schedule__column-second .button {
        padding: 22px 30px;
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
    }

    .red-schedule svg {
        width: 65px;
        height: 100%;
    }

    .blue-schedule svg {
        width: 40px;
        height: 100%;
    }

    .red-schedule {
        top: 7%;
    }

    .blue-schedule {
        top: 76%;
    }
}