* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: 'FiraSansCondensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'SeymourOne', sans-serif;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    background-size: cover;
    color: white;
    overflow: hidden;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.container {
    margin: auto;
    padding: 0 15px;
    max-width: 1430px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $white;
    color: $black;
    border: none;
}