* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    font-family: 'FiraSansCondensed', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'SeymourOne', sans-serif;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    background-size: cover;
    color: white;
    overflow: hidden;
}

main {
    flex-grow: 1;
}

footer {
    flex-shrink: 0;
}

.container {
    margin: auto;
    padding: 0 15px;
    max-width: 1430px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;

    width: fit-content;
    padding: 15px 55px;

    font-size: 36px;
    font-weight: bold;
    text-decoration: none;

    background-color: $white;
    color: $black;
    border: none;
    border-radius: 50px;

    transition: .3s;
    cursor: pointer;
}

.button_accent {
    background-color: $orange;
    color: $white;
}

.button:hover {
    @media (hover: hover) {
        transform: scale(1.1);
    }
}

.button__separator {
    width: 5px;
    height: 70px;
    margin-left: 25px;

    background-color: $black;
}

.button__icon {
    width: 55px;
    height: 55px;
    margin-left: 25px;
}

.hidden {
    opacity: 0 !important;
    pointer-events: none !important;
}

.visible {
    opacity: 1 !important;
    pointer-events: all !important;
}

@media screen and (max-width: $laptop) {
    html {
        zoom: 0.75;
    }
}

@media screen and (max-width: $tablet) {
    html {
        zoom: 1;
    }
}

.fix-font-G {
    margin-right: -20px;
}